.vscode
.xmake
build
sdk/tonilsm/dist
sdk/tonilsm/build
sdk/tonilsm/tonilsm/core/lib
sdk/tonilsm/tonilsm.egg-info
*__pycache__*
.idea/editor.xml
.idea/modules.xml
.idea/toni-lsm.iml
.idea/vcs.xml
.idea/.gitignore
book
sdk/tinylsm
.cache
.gitignore
compile_commands.json
